{% extends 'base.html' %}

{% block content %}
            <div class="content-page">
                <div class="container-fluid add-form-list">
                    {% if messages %} {% for m in messages %}
                    <div class="error">{{m}}</div>
                    {% endfor %} {% endif %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                    <div class="header-title">
                                        <h4 class="card-title">Edit Teacher</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form action="{% url 'edit-teacher' teacher.id %}" method="post" data-toggle="validator">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>First Name *</label>
                                                    <input value="{{ teacher.first_name }}" name="first_name" type="text" class="form-control" placeholder="Enter First Name" data-errors="Please Enter Name." required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Last Name *</label>
                                                    <input value="{{ teacher.last_name }}" name="last_name" type="text" class="form-control" placeholder="Enter Last Name" data-errors="Please Enter Last Name." required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Phone Number *</label>
                                                    <input value="{{ teacher.phone_number }}" name="phone_number" type="text" class="form-control" placeholder="Enter Phone Number" data-errors="Please Phone Number." required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                        <button type="reset" class="btn btn-danger">Reset</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Page end  -->
                </div>
            </div>
        </div>
        <!-- Wrapper End-->
 {% endblock %}