{% extends 'base.html' %}

{% block title %}
Add Student |
{% endblock %}

{% block content %}
            <div class="content-page">
                <div class="container-fluid add-form-list">
                    {% if messages %} {% for m in messages %}
                    <div class="error">{{m}}</div>
                    {% endfor %} {% endif %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card" style="background-color: var(--background-color);">
                                <div class="card-header d-flex justify-content-between">
                                    <div class="header-title">
                                        <h4 class="card-title">Add a New Student</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form action="{% url 'add-student' %}" method="post" data-toggle="validator">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>First Name *</label>
                                                    <input name="first_name" type="text" class="form-control" placeholder="Enter First Name" data-errors="Please Enter First Name." required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Last Name *</label>
                                                    <input name="last_name" type="text" class="form-control" placeholder="Enter Last Name" data-errors="Please Enter Last Name." required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Username *</label>
                                                    <input name="username" type="text" class="form-control" placeholder="Enter Username" data-errors="Please Enter Username." required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Password *</label>
                                                    <input name="password" type="password" class="form-control" placeholder="Enter Password" data-errors="Please Enter Password." required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Gender *</label>
                                                    <select name="gender" class="form-control">
                                                        <option value="M">Male</option>
                                                        <option value="F">Female</option>
                                                    </select>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Course *</label>
                                                    <select name="course" class="form-control">
                                                        {% for course in courses %}
                                                        <option value="{{ course.id }}">{{ course.course_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary mr-2">Add</button>
                                        <button type="reset" class="btn btn-danger">Restrart</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Page end  -->
                </div>
            </div>
{% endblock %}