{% extends 'base.html' %}

{% block title %}
Students Details |
{% endblock %}

{% block content %}

			<div class="content-page">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							{% if messages %}
				<div id="errbox" class="errbox">
					{% for message in messages %}
					<div class="errbox-icon">&#9888;</div>
					<div class="errbox-content">
						<h4>Error</h4>
						<p>{{ message }}</p>
					</div>
					<button class="errbox-close" onclick="document.getElementById('errbox').style.display='none'">&times;</button>
					{% endfor %}
				</div>
				{% endif %}
							<div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
								<div>
									<h4 class="mb-3">Student: {{ student.first_name }} {{ student.last_name }}</h4>
								</div>
                                {% if role == "admin" %}
								<a href="{% url 'edit-student' student.id %}" class="btn btn-primary add-list">
									Edit Details
								</a>
                                {% endif %}
							</div>
						</div>
						<div class="col-lg-12">
							<div class="row" style="position: relative; top: -20px;">
								<div style="height: 130px;" class="col-lg-4 col-md-3">
									<div class="card card-block card-stretch card-height" style="background-color: var(--main-color); ;">
										<div class="card-body">
											<div class="d-flex align-items-center mb-4 card-total-sale">
												<div class="icon iq-icon-box-2 bg-info-light" style="background-color: white !important;">
													<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
														<path
															fill="var(--main-color)"
															d="M6 5a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3ZM2.5 6.5a3.5 3.5 0 1 1 7 0a3.5 3.5 0 0 1-7 0ZM20.414 5L5 20.414L3.586 19L19 3.586L20.414 5ZM18 16a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3Zm-3.5 1.5a3.5 3.5 0 1 1 7 0a3.5 3.5 0 0 1-7 0Z"
														></path>
													</svg>
												</div>
												<div>
													<p class="mb-2" style="color: white;">Attendance Rate</p>
													<h4 style="color: white;">{{ student.attendance_rate|floatformat:2 }}%</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div style="height: 130px;" class="col-lg-4 col-md-3">
									<div class="card card-block card-stretch card-height" style="background-color: var(--main-color); ;">
										<div class="card-body">
											<a href="{% url 'course-details' student.course.id %}">
                                                <div class="d-flex align-items-center mb-4 card-total-sale">
                                                    <div class="icon iq-icon-box-2 bg-success-light" style="background-color: white !important;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
                                                            <path fill="var(--main-color)" d="M19 3h-2v6.5l-3-2.25l-3 2.25V3H5v18h14V3Zm-6 0v2.5l1-.75l1 .75V3h-2Zm8 20H3V1h18v22Z"></path>
                                                        </svg>
                                                    </div>
                                                    <div>
                                                        <p class="mb-2" style="color: white;">Course</p>
                                                        <h4 style="color: white;">{{ student.course }}</h4>
                                                    </div>
                                                </div>
                                            </a>
										</div>
									</div>
								</div>
								<div style="height: 130px;" class="col-lg-4 col-md-3">
									<div class="card card-block card-stretch card-height" style="background-color: var(--main-color); ;">
										<div class="card-body">
											<div class="d-flex align-items-center mb-4 card-total-sale">
												<div class="icon iq-icon-box-2 bg-danger-light" style="background-color: white !important;">
													<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 16 16">
														<path
															fill="var(--main-color)"
															d="m7.536 8.657l2.828-2.83a1 1 0 0 1 1.414 1.416l-3.535 3.535a1 1 0 0 1-1.415.001l-2.12-2.12a1 1 0 1 1 1.413-1.415zM8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm0-2A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"
														></path>
													</svg>
												</div>
												<div>
													<p class="mb-2" style="color: white;">Latest Status</p>
													<h4 style="color: white;">{% for i in latest_status %}{{ i.status }}{% endfor %}</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-6" style="position: relative; top: -20px;">
							<div class="card card-block card-stretch" style=";">
								<div class="card-header d-flex align-items-center justify-content-between" style=";">
									<div class="header-title">
										<h4 class="card-title">Attendance Rate</h4>
									</div>
								</div>
								<div class="card-body">
									<div style="overflow: auto; height: 370px;">
										<canvas id="pieChart"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6" style="position: relative; top: -20px;">
							<div class="card card-block card-stretch" style=";">
								<div class="card-header d-flex align-items-center justify-content-between" style=";">
									<div class="header-title">
										<h4 class="card-title">Attendances</h4>
									</div>
								</div>
								<div class="" style="overflow: auto; height: 410px;">
									<div class="table-responsive mb-5">
										<table class="table table-bordered text-center" style="color: var(--text-color);">
											<thead class="thead-light">
												<tr>
													<th>Mon</th>
													<th>Tue</th>
													<th>Wed</th>
													<th>Thu</th>
													<th>Fri</th>
													<th>Sat</th>
													<th>Sun</th>
												</tr>
											</thead>
											<tbody>
												{% for week in calendar_weeks %}
												<tr>
													{% for day, is_course_day, status in week %}
													<td
														style="
                                                                padding: 15px;
                                                                {% if day.month != today.month %}
                                                                    color: gray;
                                                                {% elif is_course_day %}
                                                                    {% if status is True %}
                                                                        background-color: var(--main-color);
                                                                        color: white;
                                                                        font-weight: bold;
                                                                    {% elif status is False %}
                                                                        background-color: red;
                                                                        color: white;
                                                                        font-weight: bold;
                                                                    {% else %}
                                                                        background-color: #f5f5f5;
                                                                    {% endif %}
                                                                {% endif %}
                                                            "
													>
														{{ day.day }}
													</td>
													{% endfor %}
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
                        <div class="col-lg-12" style="position: relative; top: -20px;">
                            <div class="card card-block card-stretch" style=";">
                                <div class="card-header d-flex align-items-center justify-content-between" style=";">
                                    <div class="header-title">
                                        <h4 class="card-title">Recent Attendance Records</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div style="overflow: auto; height: 370px;">
                                        <table class="table">
                                            <thead class=" ">
                                                <tr class="ligth ligth-data">
                                                    <th style="text-align: left">Course</th>
                                                    <th style="text-align: left">Course Time</th>
                                                    <th style="text-align: left">Record Time</th>
                                                    <th style="text-align: left">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody class="ligth-body">
                                                {% for record in attendance_records %}
                                                <tr>
                                                    <td style="text-align: start;"><a title="Details" style="color: var(--text-color);" href="{% url 'course-details' record.course.id %}">{{ record.course }}</a></td>
                                                    <td style="color: var(--text-color);">{{ record.course.course_time }}</td>
                                                    <td style="color: var(--text-color);">{{ record.time }}</td>
                                                    {% if record.status %}
                                                    <td style="color: var(--text-color);">✅ Present</td>
                                                    {% else %}
                                                    <td style="color: var(--text-color);">❌ Absent</td>
                                                    {% endif %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<!-- Page end  -->
				</div>
				<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

				<script>
					const data = {{ chart_data|safe }};

					const ctx = document.getElementById("pieChart").getContext("2d");

					new Chart(ctx, {
					    type: 'doughnut',
					    data: {
					        labels: data.labels,
					        datasets: [{
					            label: 'Attendance',
					            data: data.values,
					            backgroundColor: '#ffffff', // Blue and red
					            borderColor: ['#3C19DC', '#FF3B30'],
					            borderWidth: 2
					        }]
					    },
					    options: {
					        responsive: true,
					        plugins: {
					            legend: {
					                position: 'bottom',
					                labels: {
					                    color: '#000',
					                    font: {
					                        size: 14
					                    }
					                }
					            }
					        }
					    }
					});
				</script>
{% endblock %}