<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>ZEDTRACK | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assets/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assets/fonts/flaticon/font/flaticon.css' %}">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{% static 'zed.png' %}" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="{% static 'assets/css/skins/default.css' %}">

</head>
<body id="top">
<div class="page_loader"></div>

<!-- Login 1 start -->
<div class="login-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-section">
                    <div class="form-inner">
                        <a href="/static" class="logo">
                            <img src="{% static 'zed.png' %}" alt="logo">
                        </a>
                        <h3>Login</h3>
                        {% if messages %}
                          <ul>
                            {% for message in messages %}
                              <li style="color: red" {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                              {{ message.tags|title }}: {{ message }}
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}

                        <form action="{% url 'login' %}" method="post">{% csrf_token %}
                            <div class="form-group form-box clearfix">
                                <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username">
                            </div>
                            <div class="form-group form-box clearfix">
                                <input name="password" type="password" class="form-control" autocomplete="off" placeholder="Password" aria-label="Password">
                            </div>
                            <div class="form-group">
                                <button style="background-color: #3321d7" type="submit" class="btn btn-lg btn-theme"><span>Login</span></button>
                            </div>

                        </form>
                        <p>Don't have an account? <a href="{% url 'register' %}" class="thembo"><strong>Register</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login 1 end -->

<!-- External JS libraries -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<!-- Custom JS Script -->
</body>
</html>