/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}


/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.btn-check:checked + .weekday-btn {
     background-color: var(--main-color);
     color: white;
     border-color: var(--main-color);
}
 .weekday-btn {
     border: 1px solid var(--main-color);
     background-color: var(--background-color);
     padding: 8px 14px;
     border-radius: 6px;
     cursor: pointer;
     margin: 5px;
     display: inline-block;
     transition: all 0.2s;
}
 .weekday-btn:hover {
     background-color: var(--main-color);
     color: var(--background-color);
}
 .btn-check {
     display: none;

}
 :root {
     --background-color: #ffffff;
     --main-background-color: #a4a4a424;
     --text-color: #1a202c;
     --main-color: #3321d7;
     --main-hover-color: #2a1ab4;
}
 [data-theme="dark"] {
     --background-color: #000000;
     --main-background-color: #1f2020;
     --text-color: #f7fafc;
}
 body {
    background-color: var(--main-background-color);
     color: var(--text-color);
     transition: background-color 0.3s ease, color 0.3s ease;
     
}
 .iq-sidebar, .iq-top-navbar, .sidebar-footer {  
     color: var(--text-color);
}


.iq-top-navbar {
  background: rgba(255, 255, 255, 0.333);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.2px);
-webkit-backdrop-filter: blur(14.2px);
border: 1px solid rgba(255, 255, 255, 0.79);
}


 .iq-menu li a span, .iq-menu li a svg {
     color: var(--text-color);
     fill: var(--main-color);
     stroke: var(--main-color);
}
 .iq-sidebar {
     display: flex;
     flex-direction: column;
     height: 100vh;
     
     
}
 .data-scrollbar {
     flex: 1;
     overflow-y: auto;
}
 .sidebar-footer {
     background-color: var(--main-color);
     color: white;
}
 .iq-sidebar {
     display: flex;
     flex-direction: column;
     height: 100vh;
     background-color: var(--background-color);
    /* optional */
}
 .data-scrollbar {
     flex: 1;
     overflow-y: auto;
}
 .sidebar-footer {
     background-color: var(--main-color);
     color: white;
}
 h6, h5, h4, h3, h2, h1 {
     color: var(--text-color);
}
label {
    color: var(--text-color);
}
.form-control {
    background-color: var(--background-color);
    color: var(--text-color)
}

.error {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.center{
width: 150px;
margin: 40px auto;

}

.button-plus {
  position: relative;
  left: 15px;
  border: 0.1px solid var(--main-color);
  border-radius: 10px;
  background-color: white;
}

.button-minus {
  position: relative;
  right: 5px;
  border: 0.1px solid var(--main-color);
  border-radius: 10px;
  background-color: white;
}

.quantity-field {
  width: 60px;
  border: 0.1px solid rgba(0, 0, 0, 0.29);
}

.delete {
  border: 2px solid red;
  color: red;
}

.delete:hover {
  background-color: red;
  color: white;
}

.checkout {
  background-color: var(--main-color);
  color: white;
}

.checkout:hover {
  background-color: var(--main-color);
  color: white;
}

.product-btn {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  color: white;
}

.archive-btn {
  background-color: red;
  border-radius: 5px;
  color: white;
  width: 50px;
}
.btn {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
}

.btn:hover {
  background-color: #2c0bd5;
  border: 2px solid #2c0bd5;
}


.btns {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
}

.btns:hover {
  background-color: #2c0bd5;
}

.svg-icon {
  color:grey
}

.svg-icon:hover {
  color: var(--main-color);
}

.edit-btn {
    background-color: var(--main-color);
}

#backgroundCanvas {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
}
