{% extends 'base.html' %}

{% block title %}
Add Course |
{% endblock %}

{% block content %}

<div class="content-page">
    <div class="container-fluid add-form-list">
        {% if messages %} {% for m in messages %}
        <div class="error">{{m}}</div>
        {% endfor %} {% endif %}
        <div class="row">
            <div class="col-sm-12">
                <div class="card" style="background-color: var(--background-color);">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Add a New Course</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'add-course' %}" method="post" data-toggle="validator">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Course Name *</label>
                                        <input name="course_name" type="text" class="form-control" placeholder="Enter Course Name" data-errors="Please Enter Course Name." required />
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Course Time *</label>
                                        <input name="course_time" type="time" class="form-control" data-errors="Please Enter Course Time." required />
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Teacher *</label>
                                        <select name="teacher" class="form-control">
                                            --> {% for teacher in teachers %}
                                            <option value="{{ teacher.id }}">{{ teacher.first_name }} {{ teacher.last_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Description *</label>
                                        <textarea name="description" class="form-control" style="background-color: var(--background-color); color: var(--text-color);" rows="1"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Select Available Days</label>
                                        <div class="weekday-selector">
                                            <input type="checkbox" class="btn-check" id="mon" name="days" value="Mon" />
                                            <label class="weekday-btn" for="mon">Mon</label>

                                            <input type="checkbox" class="btn-check" id="tue" name="days" value="Tue" />
                                            <label class="weekday-btn" for="tue">Tue</label>

                                            <input type="checkbox" class="btn-check" id="wed" name="days" value="Wed" />
                                            <label class="weekday-btn" for="wed">Wed</label>

                                            <input type="checkbox" class="btn-check" id="thu" name="days" value="Thu" />
                                            <label class="weekday-btn" for="thu">Thu</label>

                                            <input type="checkbox" class="btn-check" id="fri" name="days" value="Fri" />
                                            <label class="weekday-btn" for="fri">Fri</label>

                                            <input type="checkbox" class="btn-check" id="sat" name="days" value="Sat" />
                                            <label class="weekday-btn" for="sat">Sat</label>

                                            <input type="checkbox" class="btn-check" id="sun" name="days" value="Sun" />
                                            <label class="weekday-btn" for="sun">Sun</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Add</button>
                            <button type="reset" class="btn btn-danger">Restrart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page end  -->
    </div>
</div>

{% endblock %}