<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>ZEDTRACK | Delete a Course</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'logo_rounded.png' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/backend-plugin.min.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/backend.css?v=1.0.0' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" />
        
        <link rel="stylesheet" href="{% static 'assets/vendor/remixicon/fonts/remixicon.css' %}" />
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        </head>
    <style>
    #sidebar.collapsed #user-info {
        display: none;
    }
    </style>
    <body style="background-color: var(--main-background-color)">
        <div class="container-fluid">
            <div class="row justify-content-center" style="margin-top: 30px;">
                <div class="col-lg-3 col-md-3 d-flex justify-content-center">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-4 card-total-sale">
                                <div style="text-align: center; margin-top: 30px;">
                                    <p class="mb-4" style="color: black; font-size: 20px;">
                                        Are you sure you want to delete the course <b><i>{{ course.course_name }} at {{ course.course_time }}</i></b>?
                                    </p>

                                    <div style="display: flex; justify-content: center; gap: 20px;">
                                        <a href="{% url 'course-list' %}{{ course.id }}/delete/" style="color: white; background-color: red; width: 100px; height: 40px; border-radius: 5px; display: flex; align-items: center; justify-content: center;">
                                            Yes
                                        </a>
                                        <a href="{% url 'course-list' %}" style="color: white; background-color: var(--main-color); width: 100px; height: 40px; border-radius: 5px; display: flex; align-items: center; justify-content: center;">
                                            No
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Wrapper End-->
        <!-- Backend Bundle JavaScript -->
        <script>
              document.addEventListener("DOMContentLoaded", function () {
                const sidebar = document.getElementById("sidebar");
                const toggleBtn = document.querySelector(".iq-menu-bt-sidebar");

                toggleBtn.addEventListener("click", function () {
                  sidebar.classList.toggle("collapsed");
                });
              });
            </script>
            <script src="{% static 'assets/js/backend-bundle.min.js' %}"></script>

        <!-- Table Treeview JavaScript -->
        <script src="{% static 'assets/js/table-treeview.js' %}"></script>

        <!-- Chart Custom JavaScript -->
        <script src="{% static 'assets/js/customizer.js' %}"></script>
        <script src="{% static 'chart.js' %}"></script>
        <script src="{% static 'custom.js' %}"></script>

        <!-- Chart Custom JavaScript -->
        <script async src="{% static 'assets/js/chart-custom.js' %}"></script>

        <!-- app JavaScript -->
        <script src="{% static 'assets/js/app.js' %}"></script>
    </body>
</html>
