{% extends 'base.html' %}

{% block title %}
Edit Course |
{% endblock %}

{% block content %}
                <div class="content-page">
                    <div class="container-fluid add-form-list">
                        {% if messages %} {% for m in messages %}
                        <div class="error">{{m}}</div>
                        {% endfor %} {% endif %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between">
                                        <div class="header-title">
                                            <h4 class="card-title">Edit Course</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form action="{% url 'edit-course' course.id %}" method="post" data-toggle="validator">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Course Name *</label>
                                                        <input value="{{ course.course_name }}" name="name" type="text" class="form-control" placeholder="Enter Name" data-errors="Please Enter Name." required />
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Course Time *</label>
                                                        <input value="{{ course.course_time|time:"H:i" }}" name="time" type="time" class="form-control" data-errors="Please Enter Time." required>
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Course Teacher *</label>
                                                        <select name="teacher" class="form-control">
                                                            {% for teacher in teachers %} {% if teacher == course.teacher %}
                                                            <option selected="selected" value="{{ teacher.id }}">{{ teacher.first_name }} {{ teacher.last_name }}</option>
                                                            {% else %} {% if teacher != course.teacher %}
                                                            <option value="{{ teacher.id }}">{{ teacher.first_name }} {{ teacher.last_name }}</option>
                                                            {% endif %} {% endif %} {% endfor %}
                                                        </select>
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Description *</label>
                                                        <textarea style="background-color: var(--background-color); color: var(--text-color);" name="description" class="form-control" rows="1">{{ course.description }}</textarea>
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Select Available Days</label>
                                                        <div class="weekday-selector">
                                                            <input type="checkbox" class="btn-check" id="mon" name="days" value="Mon" {% if "Mon" in days %}checked{% endif %}>
                                                            <label class="weekday-btn" for="mon">Mon</label>

                                                            <input type="checkbox" class="btn-check" id="tue" name="days" value="Tue" {% if "Tue" in days %}checked{% endif %}>
                                                            <label class="weekday-btn" for="tue">Tue</label>

                                                            <input type="checkbox" class="btn-check" id="wed" name="days" value="Wed" {% if "Wed" in days %}checked{% endif %}>
                                                            <label class="weekday-btn" for="wed">Wed</label>

                                                            <input type="checkbox" class="btn-check" id="thu" name="days" value="Thu" {% if "Thu" in days %}checked{% endif %}>
                                                            <label class="weekday-btn" for="thu">Thu</label>

                                                            <input type="checkbox" class="btn-check" id="fri" name="days" value="Fri" {% if "Fri" in days %}checked{% endif %}>
                                                            <label class="weekday-btn" for="fri">Fri</label>

                                                            <input type="checkbox" class="btn-check" id="sat" name="days" value="Sat" {% if "Sat" in days %}checked{% endif %}>
                                                            <label class="weekday-btn" for="sat">Sat</label>

                                                            <input type="checkbox" class="btn-check" id="sun" name="days" value="Sun" {% if "Sun" in days %}checked{% endif %}>
                                                            <label class="weekday-btn" for="sun">Sun</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                            <button type="reset" class="btn btn-danger">Reset</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page end  -->
                    </div>
                </div>
{% endblock %}