{% extends 'base.html' %}

{% block content %}

            <div class="content-page">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                                <div>
                                    <h4 class="mb-3">Select a Course</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="table-responsive rounded mb-3">
                                <table class="data-table table mb-0 tbl-server-info">
                                    <thead class="bg-white text-uppercase">
                                        <tr class="ligth ligth-data">
                                            <th style="text-align: left;">Course</th>
                                            <th style="text-align: left">Teacher</th>
                                            <th style="text-align: left">Time</th>
                                            <th style="text-align: left">Days</th>
                                            <th style="text-align: left">Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="ligth-body">
                                        {% for course in courses %}
                                        <tr style="background-color: var(--background-color);">
                                            <td style="text-align: left"><a style="background-color: var(--background-color); color: var(--text-color); text-align: left" href="{% url 'course-details' course.course.id %}">{{ course.course.course_name }}</a></td>
                                            <td style="text-align: left"><a style="background-color: var(--background-color); color: var(--text-color); " href="{% url 'teacher-details' course.course.course_teacher.id %}">{{ course.course.course_teacher }}</a></td>
                                            <td style="background-color: var(--background-color); color: var(--text-color); text-align: left">{{ course.course.course_time }}</td>
                                            <td style="background-color: var(--background-color); color: var(--text-color); text-align: left">
                                                {% for day in course.course.days %} {{ day }}, {% endfor %}
                                            </td>
                                            <td style="background-color: var(--background-color); color: var(--text-color); text-align: left">{% if course.status %}Marked{% else %}Not marked{% endif %}</td>
                                            <td>
                                                <a href="{% url 'selected-course' course.course.id %}" style="display: inline-block; background-color: var(--main-color); width: 65px; height: 30px; border-radius: 8px; color: white">
                                                    Select
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Page end  -->
                </div>
{% endblock content %}